*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100%;
    position:absolute;
    font-family:"Î¢ÈíÑÅºÚ";
     background-color: #F9F1D2;
}
.w_content{
    width:100%;
    height:100%;
    overflow-x:hidden;
}
.header{
    width:100%;
    height:25%;
    display:block;
}
.wrapper{
    width:100%;
    height:75%;
    display:block;

}

.top{
    width:100%;
    height:10%;
    position:relative;
    display:block;
}
.list{
    width:25%;
    float:left;
    list-style: none;
    margin: 5px 0 15px 50px;
    position:relative;
}
.button{
    width:100%;
    height:100%;
    position:relative;
    font-size: 20px;
    border:none;
}
.b1{background:#58f4b7;}
.b2{background:#61a5f6;}

.window1{
    width:100%;
    height:50%;
    display:block;
    border-top:1px solid #000;
    positionrelative;
}
.window2{
    width:100%;
    height:40%;
    display:block;
    position:relative;
    border-top:1px solid #000;
    margin-top:5px;
}
.question{
    width:100%;
    height:50%;
    display:block;
    position:relative;
}
.answer{
    width:100%;
    height:50%;
    display:block;
    position:relative;
}
.photo{;
    float:left;
    margin-left:5px;
}
.line1{
    width:50%;
    height:20%;
    display:block;
    float:left;
    font-size: 16px;
    font-weight:700;
    margin-top: 10px;
}
.line2{
    width:100%;
    height:20%;
    position:relative;
    display:block;
    margin-left: 50px;
    margin-top: 5px;
    color:#3f458b;
    font-size: 16px;
    font-weight:700;
    float:left;
}
.line3{
    width:100%;
    height:20%;
    position:relative;
    display:block;
    margin-left: 50px;
    margin-top: 5px;
    font-size: 14px;
    font-weight:700;
    float:left;
}
.line4{
    width:20%;
    height:20%;
    display:block;
    float:right;
    position:relative;
    color:orange;
    font-size: 10px;
}
.zan{
    width:100%;
    height:20%;
    position:relative;
    float:right;
}
.zan2{
    width:50%;
    height:100%;
    position:relative;
    float:right;
    font-size: 10px;
    color:#000;
}
.message{
    width:100%;
    height:80%;
    display:block;
    font-size: 14px;
    color:#000;
    float:right;
}
.back{
    width:50%;
    height:80%;
    position:relative;
    display:block;
    float:right;
    text-decoration: none;
    color:lightseagreen;
    font-size: 16px;
    margin-top:10px;
    margin-right:20px;
}